<div class="crash-graph flex flex-col" id="crash_graph">
    <canvas id="crash_canvas"></canvas>

    <div class="crash-messages">
        <div class="crash-message starting">
            <div>Next round starting...</div>
            <div class="font-bold"><span id="crash_timer">5.00</span>s</div>
        </div>
        <div class="crash-message progress">
            <div>Current Multiplier</div>
            <div><span id="crash_crash">1.00</span>x</div>
        </div>
    </div>

    <script type="text/javascript" src="/js/graph.js"></script>
</div>