.dashboard-loader{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.dashboard-stats-grid{
	display: grid;
    gap: 0.5rem;
    grid-auto-rows: 100px;
    grid-template-columns: minmax(240px, 1fr);
}

.dashboard-stats {
	height: 100px;
}

.dashboard-chart-grid{
	display: grid;
    gap: 0.5rem;
    grid-auto-rows: 340px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 100%;
}

.dashboard-chart{
    height: 340px;
}

.dashboard-chart .dropdown_field{
    max-width: 200px;
}