.tower-grid {
	display: grid;
    grid-gap: 5px;
	width: 100%;
	height: 100%;
    grid-template-rows: repeat(9, calc((100% - 8 * 5px) / 9));
}

.tower-grid.easy {
    grid-template-columns: repeat(4, calc((100% - 3 * 5px) / 4));
}

.tower-grid.medium {
    grid-template-columns: repeat(3, calc((100% - 2 * 5px) / 3));
}

.tower-grid.hard {
    grid-template-columns: repeat(2, calc((100% - 1 * 5px) / 2));
}

.tower-grid.expert {
    grid-template-columns: repeat(3, calc((100% - 2 * 5px) / 3));
}

.tower-grid.master {
    grid-template-columns: repeat(4, calc((100% - 3 * 5px) / 4));
}

.tower-grid .item{
	position: relative;
	background: var(--muted-foreground);
	cursor: pointer;
	border-radius: 0.5rem;
}

.tower-grid .item.danger{
	background: var(--color-danger) !important;
}

.tower-grid .item.success {
	background: var(--color-success) !important;
}

.tower-grid .item.checked{
	background: #a7b58d !important; /* color */
}

@media (min-width: 768px){
	.tower-container{
		width: 80%;
		height: 100%;
	}

	.tower-grid .item{
		font-size: 16px;
		font-weight: bold;
	}
}

@media (max-width: 768px){
	.tower-container{
		width: 100%;
		height: 400px;
	}

	.tower-grid .item{
		font-size: 12px;
		font-weight: bold;
	}
}